<div class="entry-normal clear-fix">
    <div class="row">
        <div class="col-1">
            <div class="">
                <i style="font-size: 2rem;" class="bi bi-pencil-fill"></i>
            </div>
        </div>


        <div class="col-11 align-items-center row align-items-center">
            <div class="col-9">
                <h4 class="d-inline" >
                    <a th:text="${entry.title}" th:href="@{entry/${entry.id}}"></a>
                </h4>
            </div>

            <div class="col-3">
                <p th:text="${entry.publishedDate}" class="text-end"></p>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="pl-4 col-11">
            <div class="">
                <img src="https://images.unsplash.com/photo-1661956602153-23384936a1d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format"
                     class="card-resizable-image pr-4" alt="card cover">

                <p th:text="${entry.entryContent}" class="d-inline entry-preview"></p>
            </div>

        </div>

    </div>
</div>
<hr>