<div class="entry-photo__image clear-fix">
    <div class="row align-items-center">
        <!--                        icon-->
        <div class="col-1">
            <i style="font-size: 2rem;" class="bi bi-camera"></i>
        </div>
        <!-- header -->
        <div class="col-11 row align-items-center">
            <h4 class="col-8">Photo</h4>
            <div class="col-4 p-0">
                <p th:text="${entry.publishedDate}" class="text-end"></p>
            </div>

        </div>

        <div class="col-1"></div>
        <!-- Content -->
        <div class="img col-11">
            <img th:src="${entry.desPic}"
                 class="entry-photo__image" alt="card cover"/>
        </div>


    </div>
</div>