<div class="entry-quote clear-fix">

    <div class="row align-items-center col-12">
        <div class="p-2 col-1">
            <i style="font-size: 2.5rem;" class="bi bi-blockquote-left"></i>
        </div>
        <h4 class="col-9">
            You're gonna dance
        </h4>
        <div class="col-2">
            <p th:text="${entry.publishedDate}" class="text-end">
            </p>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-11">
        <blockquote class="quote-block">
            <p>In the CSS, we target the quote-block class and set the desired styles. We apply a left
                border with a solid line of 4 pixels to create a visual separation for the quote block.
                We add some padding to create space between the border and the content. Lastly, we set
                the text-align property to "right" to align the content to the right within the quote
                block.</p>
            <footer class="quote-block__author">William Arthur ---</footer>

        </blockquote>
    </div>

</div>